
<!DOCTYPE html>
<html>
<head>
	<title></title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<style>
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

font-family: 'Open Sans', sans-serif;

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 300px;
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}
.caption{
	
}
</style>
<body background=table-2879213_1280.jpg>

    <div class="container" id="tourpackages-carousel">
      
      <div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <a href= "#"><img src="http://placehold.it/500x300" alt=""></a>
              <div class="caption">
                <h4>{{Name of Restaurant}}</h>
                <h5>{{Rating}}{{#of Reviews}}</h5>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <a href= "#"><img src="http://placehold.it/500x300" alt=""></a>p
              <div class="caption">
                <h4>{{Name of Restaurant}}</h>
                <h5>{{Rating}}{{#of Reviews}}</h5>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <a href= "#"><img src="http://placehold.it/500x300" alt=""></a>
              <div class="caption">
                <h4>{{Name of Restaurant}}</h>
                <h5>{{Rating}}{{#of Reviews}}</h5>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> </p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <a href= "#"><img src="http://placehold.it/500x300" alt=""></a>
              <div class="caption">
                <h4>{{Name of Restaurant}}</h>
                <h5>{{Rating}}{{#of Reviews}}</h5>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> </p>
            </div>
          </div>
        </div>
        
      </div><!-- End row -->
      
    </div><!-- End container -->

</body>
</html>