{% extends "base.html" %}

{% block content_main %}
    <div class="flex_container">
        <form class="thumbnail"method="GET" action="/restaurants/">
        {% for category in categories %}
           {% csrf_token %}
          <button class="btn btn-lg">           
              <img class="btn btn-lg" src="{{category.image_url}}" alt=""/>
          </button>
          <h4 class='instruction'> {{category.title}} ({{category.result_count}}) </h4>
          <h6 class='instruction'> {{category.desxcription}} </h6>
          <input type="hidden" name="collection_id" value={{category.collection_id}} />
          <input type="hidden" name="city" value="{{category.city}}" />
          <input type="hidden" name="latitude" value="{{category.lat}}" />
          <input type="hidden" name="longitude" value="{{category.lon}}" />
        {% endfor %}
        </form>
    </div>
{% endblock content_main %}