{% load static %}

<!DOCTYPE html>

<html>

<head>

<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<style>

.top{
	font-family: 'Gloria Hallelujah', cursive;}
.body{
	position:center;}

</style>
</head>

<body background = {% static img/table-2879213_1280.jpg %} >

<div class = body>
	
	<p><h1 class=top><center> Welcome Muncher!</center> </h1></p>	        <!-- Form for editing tweet -->
        <form action="/home/" method="POST">
			{% csrf_token %}
			<center><input id="zip" name="zip" type="text" pattern="[0-9]*" value= "Zip Code"></center><br/>
			<center><button id="myBtn"> Enter</button><center>
		</form>
	<h4><center> OR </center></h4>
	
	        <!-- Form for editing tweet -->
        <form action="/update-tweet/{{ tweet.id }}/" method="POST">
            {% csrf_token %}	
			<p><center>Click the button to get your coordinates.</center></p>
		</form>

	<!-- #Get your Latitude and Longitude -->
	<center><button>Muncher Location</button></center>
</div>

</body>
</html>