{% load static %}

<!DOCTYPE html>

<html>

<head>

<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<style>

.top{
	font-family: 'Gloria Hallelujah', cursive;}
.body{
	position:center;}

</style>
</head>

<body background = "{% static "img/table-2879213_1280.jpg" %}" >

<div class = body>
	
	<p><h1 class=top><center> Welcome Muncher!</center> </h1></p>	        <!-- Form for editing tweet -->
        <form action="/categories" method="GET">
			{% csrf_token %}
			{{ form.as_p }}
			<center><button id="myBtn"> Enter</button><center>
		</form>
	<h4><center> OR </center></h4>
	
	        <!-- Form for editing tweet -->
        <form action="." method="POST">
            {% csrf_token %}
			<p><center>Click the button to get your coordinates.</center></p>
		</form>

	<!-- #Get your Latitude and Longitude -->
	<center><button>Muncher Location</button></center>
</div>

</body>
</html>