{% extends "base.html" %}
{% load static %}

    {% block add_links %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
 
    {% endblock add_links %}  
    
{% block content_main %}  
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            {% for restaurant in restaurants %}                
                <li data-target="#myCarousel" data-slide-to="0" class={% if forloop.first %}active{% endif %}></li>
            {% endfor %}
            </ol>
            
            <!-- Wrapper for slides -->
            <div class="container">
                <div class="carousel-inner">
                    {% for restaurant in restaurants %}                
                    <div class="carousel-item {% if forloop.first %}active{%endif%}">                
                        <div class="card">
                          <img class="card-img-top img-responsive" src="{% static "/img/default_restaurant.jpg" %}" alt="{{restaurant.name}}" width="100%" height="75%">
                          <div class="card-body">
                            <div class="row">   
                                <div class="col">
                                    <h4 class="card-title">{{ restaurant.name }}</h4>
                                </div>
                                <div class="col-4 h-50 blue_box">
                                   <span style="background-color:blue; padding: 9px">{{ restaurant.user_rating }} / {{ restaurant.num_votes }}<span/>
                                </div>
                            </div> <!-- row -->
                            <div>
                                <p class="card-text">{{ restaurant.address }}</p>
                                <p class="card-text">{{ restaurant.cuisine }}</p>                        
                            </div>
                          </div> <!-- body -->
                        </div>  <!-- card -->                  
                    </div>  <!-- item -->
                    {% endfor %}                  
                </div> <!-- inner -->
            </div> <!-- container -->
        
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next"
               href="#"
               onclick="event.preventDefault();
               document.getElementById('magic-form').submit();">
                <span class="carousel-control-next-icon"></span>
            </a>
            <form id="magic-form" action="/choices/" 
                method="POST" style="display: none;">
                {% csrf_token %}
                <input type="hidden" name="restaurant_id" value={{ restaurant.restaurant_id }}/>                
                <!-- other fields -->
            </form>

        </div> <!-- carousel -->
{% endblock content_main %}  